<% if @users.any? %>
  <section class="main-form-container">
  	<% @users.each do |user| %>
      <%= user.firstname.capitalize %> event's </br>
      <%= render user.events %>
  	<% end %>
  </section>
<% end %>