<!DOCTYPE html>
<html>
<head>
		
</head>

<body>
	<section class='hp-upper-container'>
		<section class='navbar'>
			<p class='main-logo'>challenge.me</p>
			<input type="search" name="search" class='search' placeholder='Search for a friend'>
			<%= link_to 'Login', new_user_session_path, {class: 'login'} %>
		
		</section>
		<section class='hp-cover-image'>
			<h2 class='main-image-header'>Make giving fun.</h2>
			<h5 class='main-image-text'>Complete extra challenged to reach your fundraising targets</h5>
			<section class='cover-image-button-container'>
			
			

				<%= link_to 'Add Your Event', new_event_path, {class: 'create-challenge'} %>
				<%= link_to 'View Challenges', events_path, {class: 'view-challenge'} %>


			</section>
		</section>
	</section>

	<section class='hp-middle-container'>
		<section class="hp-extra-info-box">
			<article class="hp-extra-info"></article>
			<p class="info-box-title">Show your sponsors commitment</p>
		</section>

		<section class="hp-extra-info-box">
			<article class="hp-extra-info"></article>
			<p class="info-box-title">Set challenges for friends</p>
		</section>

		<section class="hp-extra-info-box">
			<article class="hp-extra-info"></article>
			<p class="info-box-title">Stay motivated with short term goals</p>
		</section>

	</section>

	<section class='hp-lower-container'>

		<section class='hp-lower-left'>
			<section class='hp-fundraiser-feed'>
				<section class='fundraiser-title'>
					Top fundraisers
				</section>
			</section>
		</section>

		<section class='hp-lower-right'>
			<section class='update-feed'>
				<article class='post-container'>
					<header class='post-header'>
            <section class='post-title'>
            	Challenges Completed
            </section>
          </header>
          <section class='post-content'>
          	<object class='uploaded-evidence'>

          	</object>
          	<article class='evidence-comments'>
          	</article>
          </section>
				</article>
			</section>
		</section>


	</section>

	<section class='footer'>
	</section>


</body>

</html>