<section class='new-event-form'>

		<%if @events.any?%>
		Hello <%= current_user.firstname %>!
		<div id="event-header">CHOOSE EVENT</div>
		  <% @events.each_with_index do |event, index| %>
		    <%= link_to "#{event['eventName'].upcase}", new_event_path(page_short_name: event['pageShortName']), class: 'event-select-button' %></br>
		  <% end %>
		  <div id="event-header">OR</div>
		    <%= link_to 'CREATE EVENT', new_event_path, class: 'event-select-button' %>
		<%else %>
		  <%= link_to 'CREATE EVENT', new_event_path, class: 'event-select-button' %>
		<% end %>

</section>
