/*------ Feed Container -----*/
.page-divider {
	width: 88%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #EBEBEB;
}

.update-feed {
	background-color: #fbfbfb;;
	flex-direction: column;
	margin-top: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
	.donations-container {
		color: #343434;
		display: flex;
		margin: 5px;
		height: 40px;
		margin-top: 1.5em;
		margin-bottom: 25px;
	}
		#update-sponsers-link {
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			text-decoration: none;
			color: #2B1B17;
			width: 34.5%;
			margin-right: 1%;
			margin-left: auto;
			font-weight: 800;
			background-color: #E9E9E9;
			/* background: rgba(255, 255, 255, 0.58); */
			border: 2px solid white;
			border-radius: .05em;
			box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) 0 1px 0 rgba(0, 0, 0, 0.3);
			letter-spacing: 5px;
		}
			#update-sponsers:hover {
				background-color: #f9f9f9;
				color: #000;
			}
			#update-sponsers:active {
				position: relative;
				top: 1px;
			}

			#make-a-promise-link {
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			text-decoration: none;
			color: #2B1B17;
			width: 34.5%;
			margin-right: auto;
			font-weight: 800;
			background-color: #E9E9E9;
			/* background: rgba(255, 255, 255, 0.58); */
			border: 2px solid white;
			border-radius: .05em;
			box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) 0 1px 0 rgba(0, 0, 0, 0.3);
			letter-spacing: 5px;
		}
			#make-a-promise:hover {
				background-color: #f9f9f9;
				color: #000;
			}
			#make-a-promise:active {
				position: relative;
				top: 1px;
			}

			#donate-button {
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			text-decoration: none;
			color: #2B1B17;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 800;
			background-color: #E9E9E9;
			/* background: rgba(255, 255, 255, 0.58); */
			border: 2px solid white;
			border-radius: .05em;
			box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) 0 1px 0 rgba(0, 0, 0, 0.3);
			letter-spacing: 5px;
		}
			#donate-button:hover {
				background-color: #f9f9f9;
				color: #000;
			}
			#donate-button:active {
				position: relative;
				top: 1px;
			}
		.newpost-separator {
			background-color: #FFF;
			width: 1%;
		}
		#click-donate-link {
		}


/*--- Individual Posts ---*/
.post-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	margin-top: 8px;
	margin-bottom: 30px;
	border: 1px solid #DFDFDF;
	box-shadow: 0px 0px 8px 0px #DEDEDE;
}
	.post-content {
		display: flex;
		flex-direction: row;
		padding: 10px;
		height: 80%;
	}

	.post-header {
		display: flex;
		flex-direction: column;
		height: 60px;
		color: #343434;
	}
		.post-title {
			width: 100%;
			margin-top: 10px;
			margin-left: 10px;
			margin-bottom: 3px;
			height: 35px;
			text-align: center;
		}

	.post-controls {
		padding-left: 10px;
	}
		a.delete-post {
				font-size: small;
				color: #3B5998;
				cursor: pointer;
			}
				.delete-post:hover {
					text-decoration: underline;
				}
			a.edit-post {
				font-size: small;
				color: #3B5998;
				cursor: pointer;
			}
				.edit-post:hover {
					text-decoration: underline;
				}

		.post-date {
			font-style: italic;
			font-size: 14px;
			width: 100%;
			height: 25px;
			text-align: right;
			line-height: 1px
		}
			p.posted-by {
				margin-right: 8px;
			}


		.uploaded-evidence {
			display: flex;
			border: 1px solid #DFDFDF;
			width: 300px;
			margin: 3px;
		}

		.comments-container {
      display: inline-block;
			font-size: 14px;
			width: 100%;
			height: 10%;
			margin-top: 3px;
		}
			.comments-list{
        display: inline-block;
				border-left: 5px solid #dfdfdf;
				height: 74%;
				overflow: scroll;
				padding: 5px;
        font-size: 12px;

        .comment-text {
          margin-top: 5px;
        }
			}
			.comments-input-container {
				width: 80%;
				height: 43px;
			}
				#comments-placeholder {
					font-size: 15px;
					width: 68%;
					height: 40px;
					border-bottom-left-radius: 4px;
					border: 1px solid #dfdfdf;
					padding-left: 5px;
					float: left;
				}
				#comments-placeholder:focus {
			    outline-width: 0;
				}
				#comment-submit-button {
					border: none;
					width: 20%;
					cursor: pointer;
					font-size: 10px;
					font-weight: 800;
					height: 40px;
					background: linear-gradient(#0073be, #004a7b);
					color: white;
					padding-bottom: 1px;
					border-bottom-right-radius: 4px;
				}
				#comment-submit-button:hover {
					background: linear-gradient(#4AA7E4, #146092);
				}

				.comment{
					padding: 2.5px;
					line-height: 14px;
					strong{
						font-weight: bold;
					}	
				}

			.challenge-comment {
				font-family: 8px;
				margin: 4px;
			}

			#newpostlink {

			}

		p.post-caption {
			text-align: initial;
		}
