/*----- Top Container --------*/

.container-top {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #B4B4B4;
	background-color: #F4F4F4;
}
	.event-controls {
		color: #343434;
		display: flex;
		margin: 5px;
		height: 40px;
	}
		#edit-event {
			text-decoration: none;
			width: 50%;
			color: #FFF;
			background-color: #000000;
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
		}
			#edit-event:hover {
				background-color: #8CD1FF;
				color: #000;
			}
		.eventcontrols-separator {
			width: 1%;
			background-color: #F4F4F4;
		}
		#delete-event {
			text-decoration: none;
			width: 50%;
			color: #FFF;
			background-color: #000000;
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
		}
			#delete-event:hover {
				background-color: #8CD1FF;
				color: #000;
			}

	.pledge-container {
		display: flex;
		flex-direction: row;
		margin: 20px;
		border-radius: 8px;
		font-size: 21px;
		color: #343434;
		border: 1px solid #B4B4B4;
	}
		.pledge-title {
			padding: 10px;
			width: 185px;
		}
		.pledge-information {
			border-left: 1px solid #B4B4B4;
			border-right: 1px solid #B4B4B4;
			padding: 10px;
			text-align: center;
		}
		.pledge-modal-button {
			padding: 10px;
			width: 185px;
			cursor: pointer;
			text-decoration: none;
			vertical-align: middle;
			line-height: 40px;
			color: #FFF;
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
			background: linear-gradient(#B4DEFA, #4EA4DD)
		}
		.pledge-modal-button:hover {
			background: linear-gradient(#D0EDFF, #4EA4DD)
		}


	.fundraising-stats {
		flex-direction: row;
		border-top: 1px solid #B4B4B4;
		display: flex;
		background: linear-gradient(#F4F4F4, #ECECEC);
	}
		.fundraising-stats-percentage-complete {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #B4B4B4;
		}
		.fundraising-stats-target {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #B4B4B4;
		}
		.fundraising-stats-raised {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #B4B4B4;
		}
		.fundraising-stats-training-goal {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
		}
			#fundraising-stats-percentage-number {
				font-size: 40px;
				margin-top: 4px;
				color: #E2790A;
				padding-bottom: 10px;
			}
			#fundraising-stats-percentage-text {
				font-size: 15px;
				color: #8A8A8A;
				font-weight: 600;
				margin-top: 8px;
				margin-bottom: 5px;
			}
