/*----- Top Container --------*/

.container-top {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #DFDFDF;
	background-color: #F4F4F4;
	padding-top: 14px;
}
	.event-controls {
		color: #343434;
		display: flex;
		margin-top: 9px;
		height: 40px;
		padding-left: 7px;
		padding-right: 12px;
	}
		#edit-event {
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			text-decoration: none;
			color: #2B1B17;
			width: 50%;
			font-weight: 800;
			background: rgba(255,255,255,.58);
			border: 2px solid white;
			border-radius: .05em;
			box-shadow: 0 0 1px 1px rgba(255,255,255,.8) 0 1px 0 rgba(0,0,0,.3);
			letter-spacing: 5px;
		}
			#edit-event:hover {
				background-color: #FFF;
				color: #000;
			}
			#edit-logo {
				height: 58px;
				margin-right: 15px;
				margin-top: -21px;
				margin-bottom: -6px;
			}
			#delete-logo {
				height: 35px;
				margin-right: 15px;
				margin-top: 2px;
				margin-bottom: -6px;
			}

		.eventcontrols-separator {
			width: 1%;
			background-color: #F4F4F4;
		}

			.event-details-container {
		background-color: #F4F4F4;
		color: #343434;
		display: flex;
		line-height: 25px;
		flex-direction: column;
		margin: 5px;
		padding: 10px;
		margin: 0 auto;
	}

		#event-paragraph {
			font-size: 20px;
		}

		#event-paragraph strong {
			font-weight: 800;
		}


	.pledge-container {
		display: flex;
		flex-direction: row;
		margin: 20px;
		border-radius: 8px;
		font-size: 21px;
		color: #343434;
		border: 1px solid #DFDFDF;
		box-shadow: 0.5px 0.5px 2px 1px #DEDEDE;
	}
		.pledge-title {
			padding: 10px;
			width: 185px;
			text-align: center;
		}
		.pledge-information {
			border-left: 1px solid #DFDFDF;
			border-right: 1px solid #DFDFDF;
			box-shadow: inset 0.6px 0.6px 5px #DEDEDE;
			padding: 10px;
			width: 75%;
			font-style: italic;
			font-size: 18px;
			background-color: #FFF;
			text-align: center;
		}
			.pledge-title-empty {
				padding: 10px;
				width: 185px;
				vertical-align: middle;
				line-height: 30px;
				color: #343434;
				text-align: center;
			}
			.pledge-information-empty {
				border-left: 1px solid #DFDFDF;
				border-right: 1px solid #DFDFDF;
				box-shadow: inset 1px 1px 3px #DEDEDE;
				padding: 10px;
				vertical-align: middle;
				line-height: 40px;
				color: #343434;
				width: 75%;
				text-align: center;
			}
		.pledge-modal-button {
			padding: 10px;
			width: 185px;
			font-weight: 800;
			cursor: pointer;
			text-decoration: none;
			vertical-align: middle;
			line-height: 40px;
			color: #FFF;
			text-align: center;
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
			background: linear-gradient(#0073BE, #004A7B);
		}
		.pledge-modal-button:hover {
			background: linear-gradient(#4AA7E4, #146092);
		}


	.fundraising-stats {
		flex-direction: row;
		border-top: 1px solid #DFDFDF;
		display: flex;
		background: linear-gradient(#F4F4F4, #ECECEC);
		border-bottom: 1px solid #DFDFDF;
	}
		.fundraising-stats-percentage-complete {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #DFDFDF;
		}
		.fundraising-stats-target {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #DFDFDF;
		}
		.fundraising-stats-raised {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
			border-right: 1px solid #DFDFDF;
		}
		.fundraising-stats-training-goal {
			display: flex;
			flex-direction: column;
			width: 25%;
			text-align: center;
		}
			#fundraising-stats-percentage-number {
				font-size: 40px;
				margin-top: 4px;
				color: #E2790A;
				padding-bottom: 10px;
			}
			#fundraising-stats-percentage-text {
				font-size: 15px;
				color: #8A8A8A;
				font-weight: 600;
				margin-top: 8px;
				margin-bottom: 5px;
			}
