.new-pledge-modal {
    
}
  .pledge-modal-container {
    font-size: 20px;
  }
    #pledge-modal-label {
      display: flex;
      margin-top: 15px;
      margin-bottom: 5px;
      font-weight: 400;
      color: #343434;
    }
    #pledge-modal-input {
      height: 40px;
      border: none;
      width: 98%;
      padding-left: 8px;
      line-height: 22px;
      background-color: #E2E2E2;
    }
    #pledge-modal-input:focus {
      outline-width: 0;
    }
    #pledge-modal-input::-webkit-input-placeholder {
      font-size: 18px;
      font-weight: 100;
      color: #B3B3B3;
    }

  .pledge-create-modal {
    width: 100%;
    height: 35px;
    margin-top: 15px;
  }


