@import 'global';

/*------ Left Container -----*/



.container-left {
	font-family: "Helvetica Neue", Helvetica;
	position: absolute;
	background-color: $secondColor;
	left: 0;
	top: 0;
	flex-direction: column;
	width: 260px;
	height: 2000px;
	float: left;
	text-align: center;
	box-shadow: 0px 0px 5px 0px #DEDEDE;

}
	.logo-container {
		font-size: 31px;
		margin-top: 10px;
	}
		.events-page-logo {
			color: #343434;
		}
	.picture-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: #F4F4F4;
		margin: 5px;
		margin-top: 4px;
  	font-weight: 800;
  	font-size: 20px;
  	border-radius: 3px;
	}
		.profile-picture {
			width: 95%;
			height: 238px;
			margin: 6px;

			position: relative;

		}
			#profile-image {
				height: 92%;
				margin: 4px;
				/*background-image: url(profile.jpg);*/
				background-size: cover;
    		background-position: center;
			}

			.icon-camera {
        color: white;
				position: absolute;
        margin-top: 200px;
        margin-left: 3px;
        z-index: 3;
			}

			#profile-image:hover {
			}
		#event-user-name {
			position: absolute;
			bottom: 0;
			font-size: 28px;
			margin-left: 5%;
      width: 225px;
			margin-bottom: 15px;
			color: white;
      background-color: rgba(0,0,0,0.3);
      padding-left: 15px;
      padding-right: 15px;
		}




	.training-headline {
		color: $txtColor;
		display: flex;
		flex-direction: column;

		text-align: center;
		padding-bottom: 15px;
	}
		#event-today-text {
			text-align: center;
			font-size: 24px;
		}
		#days-remaining-head {
			font-size: 21px;
		}
		#days-remaining-number {
			font-size: 4em;
			font-weight: 600;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		#date-remaining-text {
			font-size: 21px;
		}


		#event-percentage-number {
			font-size: 4em;
			font-weight: 600;
		}
		#event-percentage-text {
			font-size: 21px;
			line-height: 24px;
		}


	.training-totals {
		flex-direction: column;
		color:  $txtColor;
		text-align: center;
		display: flex;
		margin-bottom: 10px;

	}
		#training-goal-headline, #training-section-headline, #recent-workout-details-head {
			font-size: 35px;
			font-weight: 600;
			margin-top: 20px;
			letter-spacing: 4px;
			line-height: 40px;
		}
		#training-goal-number {
			color: $txtColor;
			font-size: 100px;
			font-weight: 600;
		}
		#training-goal-text {
			font-size: 21px;
		}

	.training-stats {
		text-align: center;
	}
		.log-training-button-container {
			border: none;
			width: 100%;
			cursor: pointer;
			font-size: 20px;
			font-weight: 800;
			height: 50px;
			background: linear-gradient(#0073be, #004a7b);
			color:  $txtColor;
			padding-bottom: 1px;
			vertical-align: middle;
			line-height: 48px;
		}
			#log-training-button {
				cursor: pointer;
				color: #FFF;
				font-size: 24px;
				vertical-align: middle;
				text-decoration: none;
			}
				.log-training-button-container:hover {
					background: linear-gradient(#4AA7E4, #146092);
				}
				#log-training-button:active {
					position: relative;
					top: 1px;
				}

		.total-completed-workouts {
			flex-direction: column;
			color: $txtColor;
			text-align: center;
			display: flex;
			margin-bottom: 10px;

		}
			#workouts-completed-total-number {
				font-size: 120px;
				font-weight: 600;
				margin-top: 10px;
			}
			#workouts-completed-total-text {
				font-size: 21px;
				line-height: 25px;
			}

		.workouts-completed-by-user {
			flex-direction: column;
			color: $txtColor;
			text-align: center;
			display: flex;
			padding-top: 10px;
			padding-bottom: 10px;

		}
			#workouts-completed-head {
				font-size: 21px;
				margin-top: 8px;
			}
			#workouts-completed-number {
				font-size: 100px;
				font-weight: 600;
			}
			#workouts-completed-footer {
				font-size: 21px;
				line-height: 30px;
			}

		.donate-button-container {
			border: none;
			width: 84%;
			cursor: pointer;
			font-size: 20px;
			font-weight: 800;
			height: 50px;
			background: $thirdColor;
			color: $txtColor;
			padding-bottom: 1px;
			vertical-align: middle;
			line-height: 50px;
			margin: 0 auto;
			margin-top: 15px;
			border-radius: 5px;
		}
			#donations-button {
					cursor: pointer;
					color: $txtColor;
					font-size: 24px;
					vertical-align: middle;
					text-decoration: none;
				}
					.donate-button-container:hover {
						background: $thirdColor;
					}
					#donations-button:active {
						position: relative;
						top: 1px;
					}

		.recent-workout-details {
			flex-direction: column;
			color: $txtColor;
			text-align: center;
			display: flex;
			padding-bottom: 10px;


		}
			#recent-workout-details-head {
			font-size: 20px;
				margin-top: 8px;
			}


nav.share {
	display: inline-flex;
	border-top: 1px solid #DFDFDF;
	height: 30px;
	padding-top: 11px;
}

.fb_iframe_widget span {
	vertical-align: top;
}
