
/*--- training session details---*/

.training-session-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #343434;
}
  #new_trainingsession {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: #343434;
  }

#trainingsession_details {
	height: 70px;
	font-size: 16px;
	background-color: #e5e5e5;
	border: none;
	margin-top: 8px;
	margin-bottom: 10px;
}
	#trainingsession_details:focus {
	  outline-width: 0;
	  background-color: white;
	  transition: 0.15s ease-in-out;
	}

.training-date-display {
  margin-top: 8px;
  margin-bottom: 18px;
}

#trainingsession_sessiondate_1i {
  border: 0;
  font-size: 16px;
  background-color: #e7e7e7;
  width: 31%;
  height: 35px;
}
  #trainingsession_sessiondate_1i:focus {
    outline-width: 0;
  }

#trainingsession_sessiondate_2i {
  border: 0;
  font-size: 16px;
  background-color: #e7e7e7;
  width: 40%;
  height: 35px;
}
  #trainingsession_sessiondate_2i:focus {
    outline-width: 0;
  }
  
#trainingsession_sessiondate_3i {
  border: 0;
  font-size: 16px;
  background-color: #e7e7e7;
  width: 25%;
  height: 35px;
}
  #trainingsession_sessiondate_3i:focus {
    outline-width: 0;
  }

#add-workout-button {
  border: 1px solid #DEDEDE;
  cursor: pointer;
  background-color: #e7e7e7;
  font-size: 20px;
  padding: 6px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  border-radius: .05em;
  letter-spacing: 1px;
  color: #343434;
}
  #add-workout-button:hover {
    background-color: #FFF;
  }
  #add-workout-button:active {
    position: relative;
    top: 1px;
  }
