<article class='post-container'>
  <header class='post-header'>
    <section class='post-title'>
      <%= post.caption %>
    </section>
    <section class='post-date'>
      posted by <%= post.user.full_name%> on <%= post.created_at.strftime("%d %b %Y") %>
    </section>
  </header>
  <section class='post-content'>
    <object class='uploaded-evidence'>
      <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' if post.picture.present? %>
    </object>
    <article class='evidence-comments'>
    </article>
  </section>
</article>