<% if @posts.any? %>
	<% @posts.each do |post| %>
			<h3><%= post.caption %></h3>    
		<%= image_tag post.picture.url, class: 'uploaded-pic' %>    
	<% end %>
	<% else %>
		There are no posts
	<% end %>

<%= link_to 'New Post', new_post_path %>