// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-event-form {
	display: flex;
	flex-direction:column;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid gray;
	padding: 15px;
}
.event-form-label {

}
.event-form-input {

}



input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	display: inline-block;
	padding: 4px 12px;
	background-color: #e7e7e7;
	border: #ddd;
	cursor: pointer;
}
input[type="radio"] + label:hover {
	background-color: #d0d0d0;
}
.label-checked {
	background-color: #d0d0d0 !important;
}

