@import 'profile_page/global';

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

/*---- Upper Container ---*/
.hp-upper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

	.hp-cover-image {
		display: flex;
		flex-direction: column;
		background-size: 100%;
		min-height: 900px;
		background-repeat: no-repeat;
	}

	.main-image-search {
		margin-top: 30px;
		height: 60px;
		display: flex;
		flex-direction: row;
	}
		.user-management {
			margin-right: 35%;
		}
			#sign_out {
			}
		#search-form {
			margin-top: -15px;
			width: 35%;
			position: absolute;
			right: 0;
			margin-right: 0.3%;
		}
			input.find_person {
				background: $thirdColor;
				opacity: 0.7;
		    text-align: left;
				text-decoration: none;
				font-size: 1.2em;
				width: 79%;
				height: 52px;
				letter-spacing: 5px;
				padding: 10px;
				border: 2px solid white;
				color: black;
				margin-right: 4px;
			}
			#search_button {
					color: #333;
					font-weight: 800;
					background: white;
					border: 2px solid white;
					font-size: 1.2em;
					height: 52px;
					cursor: pointer;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: .05em;
					box-shadow: 0 0 1px 1px rgba(255,255,255,.8) 0 1px 0 rgba(0,0,0,.3);
					letter-spacing: 3px;
				}
				#search_button:hover {
					color: #2B1B17;
					background: rgba(255,255,255,.58);
				}


	h2.main-image-header {
		text-align: center;
		color: white;
		letter-spacing: 15px;
		word-spacing: 20px;
		font-size: 65px;
		font-weight: 600;
		margin-top: 140px;
		text-shadow: 0 1px 0 rgba(255,255,255,.8);
	}

	h5.main-image-text {
		text-align: center;
		color:white;
		margin-top: 40px;
		margin-bottom: 40px;
		letter-spacing: 10px;
		word-spacing: 10px;
		text-shadow: 0 1px 0 rgba(255,255,255,.8);
		font-size: 1.5em;
	}

	.cover-image-button-container {
		text-align: center;
		margin-top: 20px;
	}

	.lets_go-button {
		text-decoration: none;
		color: #2B1B17;
		font-weight: 800;
		font-size: 1.4em;
		background: rgba(255,255,255,.58);
		border: 2px solid white;
		padding: 0.5em 1.5em;
    margin: 0.5em;
		border-radius: .05em;
		box-shadow: 0 0 1px 1px rgba(255,255,255,.8) 0 1px 0 rgba(0,0,0,.3);
		letter-spacing: 10px;
	}
	.lets_go-button:hover {
		background: white;
		color: #333;
		font-weight: 800;
	}
	.lets_go-button:active {
    position: relative;
		top: 1px;
	}
	.lets_go-button:focus {
    outline-width: 0;
	}