// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evidence-comments {
	overflow: scroll;
}

.post-date {
	line-height: 1px
}

.post-controls {
		padding-left: 10px;
	a {
	line-height: 1px;
	color: white;
	text-decoration: none;

		}
	}



