body {
	font-family: helvetica neue;
	font-size: 24px;
}

/*----- Top Container --------*/
.container-top {
	display: flex;
	flex-direction: row;
	border: 1px solid grey;
	height: 250px;
}
	.picture-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 5px;
		border: 1px solid grey;
		width: 240px;
	}
		.profile-picture {

		}
		#event-user-name {
			position: absolute;
			bottom: 0;
			margin-left: 25%;
			margin-bottom: 4px;
			color: #929292;
		}

	.pledge-container {
		display: flex;
		margin: 5px;
		border: 1px solid grey;
		width: 40%;
		text-align: center;
		padding-left: 10px;
		padding-top: 10px;
	}
	.donations-container {
		display: flex;
		margin: 5px;
		border: 1px solid grey;
		width: 25%;
	}


/*------ Left Container -----*/
.container-left {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border: 1px solid grey;
	width: 250px;
	height: 500px;
	float: left;
}

	.event-details-container {
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		margin: 5px;
		padding: 10px;
		height: 200px;
	}
		#event-name {
			display: flex;
			font-size: 18px;
		}
		#event-date {
			display: flex;
			font-size: 18px;
		}
		#event-charity {
			display: flex;
			font-size: 18px;
		}
		#event-target {
			display: flex;
			font-size: 18px;
		}
		#amount-raised {
			display: flex;
			font-size: 18px;
		}

	.days-remaining {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
		text-align: center;
		padding-top: 10px;
		padding-left: 10px;
	}

	.percentage-completion {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
		text-align: center;
		padding-top: 10px;
		padding-left: 10px;
	}

	.training-totals {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
	}

	.training-calendar {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
	}

	.donations-button {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
	}




/*------ Feed Container -----*/
.update-feed {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border: 1px solid grey;
	width: 70%;
	float: right;
}
	.post-container {
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		width: 100%;
		height: 300px;
	}
		.post-header {
			display: flex;
			flex-direction: column;
			height: 60px;
		}
			.post-title {
				width: 100%;
				margin-top: 10px;
				margin-left: 10px;
				margin-bottom: 3px;
				height: 35px;
				text-align: center;
			}
			.post-date {
				font-style: italic;
				font-size: 14px;
				width: 100%;
				height: 25px;
				text-align: right;
			}
				p.posted-by {
					margin-right: 8px;
				}

		.post-content {
			display: flex;
			flex-direction: row;
			border: 1px solid grey;
			height: 76%;
		}

			.uploaded-evidence {
				display: flex;
				border: 1px solid grey;
				width: 60%;
				margin: 3px;
			}

			.evidence-comments {
				display: flex;
				position: relative;
				flex-direction: column;
				border: 1px solid #DEDEDE;
				border-radius: 4px;
				width: 40%;
				margin: 3px;
				font-size: 14px;
			}
				.post-comments-container {
					position: absolute;
					bottom: 0;
				}
					#comments-placeholder {
						font-size: 13px;
						width: 204px;
						height: 40px;
						border-bottom-left-radius: 4px;
						border: 1px solid #DEDEDE;
						margin-bottom: -1px;
						margin-left: -1px;
						padding-left: 5px;
					}
					#comments-placeholder:focus {
				    outline-width: 0;
					}
					#comment-submit-button {
						border: none;
						background: #DEDEDE;
						margin-left: -4px;
						width: 73px;
						cursor: pointer;
						font-size: 13px;
						height: 44px;
						padding-bottom: 1px;
						margin-bottom: -1px;
						border-bottom-right-radius: 4px;
					}
					#comment-submit-button:hover {
						background: #b8b8b8;
					}


				.challenge-comment {
					font-family: 12px;
					margin: 4px;
				}


