body {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;

}

/*----- Top Container --------*/
.container-top {
	display: flex;
	flex-direction: row;
	border: 1px solid grey;
	height: 250px;
	margin-left: 25%;
}
	.picture-container {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 5px;
		width: 240px;
  	font-weight: 800;
  	font-size: 20px;

	}
		.profile-picture {
			width: 96%;
			height: 238px;
			margin: 5px;
			position: relative;
			border-radius: 4px;
			border: 1px solid #ADADAD;
		}
			#profile-image {
				height: 92%;
				margin: 4px;
    		position:relative;
				/*background-image: url(profile.jpg);*/
				background-size: cover;
    		background-position: center;
			}
			#profile-image:hover {
			}
		#event-user-name {
			position: absolute;
			bottom: 0;
			font-size: 28px;
			margin-left: 24%;
			margin-bottom: 12px;
			color: #FFFFFF;
		}

	.pledge-container {
		background-color: #dedede;
		display: flex;
		margin: 5px;
		width: 40%;
		text-align: center;
		padding-left: 10px;
		padding-top: 10px;
		font-family: 'Josefin Slab', serif;
  	font-size: 40px;
  	font-weight: 100;
  	color: white;
	}
	.donations-container {
		background-color: #dedede;
		color: white;
		display: flex;
		margin: 5px;
		border: 1px solid grey;
		width: 25%;
	}


/*------ Left Container -----*/
.container-left {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	flex-direction: column;
	margin-top: 10px;
	border: 1px solid grey;
	width: 275px;
	height: 2000px;
	float: left;
}

	.event-details-container {
		background-color: #C4C4C4;
		color: white;
		display: flex;
		flex-direction: column;
		border: 1px solid grey;
		margin: 5px;
		padding: 10px;
		height: 240px;
	}
		#event-name {
			display: flex;
			font-size: 18px;
		}
		#event-date {
			display: flex;
			font-size: 18px;
		}
		#event-charity {
			display: flex;
			font-size: 18px;
		}
		#event-target {
			display: flex;
			font-size: 18px;
		}
		#amount-raised {
			display: flex;
			font-size: 18px;
		}

	.days-remaining {
		background-color: #C4C4C4;
		color: white;
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 240px;
		text-align: center;
		padding-top: 10px;
		padding-left: 10px;
	}
		#days-remaining-head {
			font-size: 21px;
		}
		#days-remaining-number {
			font-size: 130px;
			font-weight: 600;
			margin-top: 40px;
			margin-bottom: 46px;
		}
		#date-remaining-text {
			font-size: 21px;
		}

	.percentage-completion {
		background-color: #C4C4C4;
		flex-direction: column;
		color: white;
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 190px;
		text-align: center;
		padding-top: 10px;
	}
		#event-percentage-number {
			font-size: 118px;
			font-weight: 600;
			margin-top: 45px;
			margin-bottom: 50px;
		}
		#percentage-sign {
			font-size: 60px;
		}
		#event-percentage-text {
			font-size: 21px;
			line-height: 24px;
		}

	.training-totals {
		background-color: #C4C4C4;
		flex-direction: column;
		color: white;
		text-align: center;
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 240px;
	}
		#training-goal-headline {
			font-size: 35px;
			font-weight: 600;
			margin-top: 20px;
		}
		#training-goal-number {
			font-size: 140px;
			font-weight: 600;
			margin-top: 55px;
			margin-bottom: 50px;
		}
		#training-goal-text {
			font-size: 21px;
		}

	.training-calendar {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 240px;
	}

	.donations-button {
		display: flex;
		border: 1px solid grey;
		margin: 5px;
		height: 100px;
	}




/*------ Feed Container -----*/
.update-feed {
	background-color: white;
	flex-direction: column;
	margin-top: 10px;
	border: 1px solid grey;
	width: 50%;
	margin-left: 25%;
}
	.post-container {
		display: flex;
		flex-direction: column;
		border: 15px solid black;
		width: 100%;
		height: 300px;
		margin-top: 5px;
	}
		.post-header {
			display: flex;
			flex-direction: column;
			height: 60px;
		}
			.post-title {
				width: 100%;
				margin-top: 10px;
				margin-left: 10px;
				margin-bottom: 3px;
				height: 35px;
				text-align: center;
			}
			.post-date {
				font-style: italic;
				font-size: 14px;
				width: 100%;
				height: 25px;
				text-align: right;
			}
				p.posted-by {
					margin-right: 8px;
				}

		.post-content {
			display: flex;
			flex-direction: row;
			border: 1px solid grey;
			height: 76%;
		}

			.uploaded-evidence {
				display: flex;
				border: 1px solid grey;
				width: 500px;
				margin: 3px;
			}

			.evidence-comments {
				display: flex;
				position: relative;
				flex-direction: column;
				border: 1px solid #DEDEDE;
				border-radius: 4px;
				width: 40%;
				margin: 3px;
				font-size: 14px;
			}
				.post-comments-container {
					position: absolute;
					bottom: 0;
					width: 100%;
				}
					#comments-placeholder {
						font-size: 13px;
						width: 69%;
						height: 40px;
						border-bottom-left-radius: 4px;
						border: 1px solid #DEDEDE;
						margin-bottom: -1px;
						margin-left: -1px;
						padding-left: 5px;
					}
					#comments-placeholder:focus {
				    outline-width: 0;
					}
					#comment-submit-button {
						border: none;
						background: #DEDEDE;
						margin-left: -4px;
						width: 28.7%;
						cursor: pointer;
						font-size: 13px;
						height: 44px;
						padding-bottom: 1px;
						margin-bottom: -1px;
						border-bottom-right-radius: 4px;
					}
					#comment-submit-button:hover {
						background: #b8b8b8;
					}


				.challenge-comment {
					font-family: 12px;
					margin: 4px;
				}

				#newpostlink {

				}
