.target-bar-container {
  width: 100%;
}

.progress {
  width: 100%;
  height: 40px;
}

.target-wrap {
  border-bottom: 1px solid #DEDEDE;
  overflow: hidden;
  position: relative;
}

.target-bar {
    background: #f4f4f4;
    left: 0;
    position: absolute;
    bottom: 0;
  }

.struggling {
  background: #CC3333;
}
.steady {
  background: #E2790A;
}
.great {
  background: #2D8735;
}
