<html>
<head>
	<link rel="stylesheet" type="text/css" href="profile-page.css">
 </head>
<body>

	<section class='container-top'>
		<section class='picture-container'>
		</section>
		<section class='pledge-container'>
			When I reach £5000 I will do the Cinamon challenge
		</section>
		<section class='donations-container'>

		</section>
	</section>


	<section class='container-left'>
		<section class='event-details-container'>
		</section>
		<section class='days-remaining'>
			15 DAYS REMAINING
		</section>
		<section class='percentage-completion'>
			40% complete
		</section>
		<section class='training-totals'>
		</section>
		<section class='training-calender'>
		</section>
		<section class='donation-button'>
		</section>
	</section>

	<section class='update-feed'>
		<article class='post-container'>
			<header class='post-header'>
				<section class='post-title'>
					This is the title of the post
				</section>
				<section class='post-date'>
				</section>
			</header>
			<section class='post-content'>
				<object class='uploaded-evidence'>
				</object>
				<article class='evidence-comments'>
					
				</article>
			</section>
		</article>
	</section>

</body>

</html>